$primary-color: #3498db;
$background-color: #f4f4f4;
$text-color: #333;

body {
    font-family: Abel, sans-serif;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

header {
    background-color: $primary-color;
    padding: 20px;
    text-align: center;

    h1 {
        color: white;
        margin: 0;
    }
}

#sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: $primary-color;
  height: 100%;
  overflow: auto;

  a{
    display: block;
    font-family: Comfortaa;
    color: white;
    font-size: 24px;
    padding: 16px;
    text-decoration: none;
  }
}

main {
    padding: 20px;

    #my_dataviz{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

