$primary-color: #3498db;
$background-color: #f4f4f4;
$text-color: #333;

body {
    font-family: Abel, sans-serif;
    background-color: $background-color;
    color: $text-color;
    margin: 0;
    padding: 0;
}

header {
    background-color: $primary-color;
    padding: 20px;
    text-align: center;

    h1 {
        color: white;
        margin: 0;
    }
}

#sidebar {
  width: 300px;
  background-color: $primary-color;

  a{
    display: block;
    font-family: Comfortaa;
    color: white;
    font-size: 24px;
    padding: 16px;
    text-decoration: none;
  }
}

main {
    display: flex;
    justify-content: space-between;

    #buttons {
      padding: 10px;
      background-color: $primary-color;

      #radio-data{
        display: block;
        padding: 0px 20px 10px 20px;
        border: solid;
        border-color: white;
      }

      h1 {
        font-size: 22px;
        color: white;
      }

      input {
        appearance: none;

        border-radius: 50%;
        width: 16px;
        height: 16px;

        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;

        position: relative;
        top: 4px;
      }

      input:checked {
        border: 6px solid white;
      }

      #radios {
        color: white;
      }
    }

    #my_dataviz{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

